@import "../palette.scss";

.library {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

.fallback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $overlay2;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-bottom: 0;
  }
  
  h3 {
    margin-top: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr auto auto auto;
  width: 100%;
}

.grid > div {
  height: 2.2rem;
  overflow: hidden;
}

.grid > div:not(.iconWrapper) {
  padding: 0.5rem 1rem;
}

.grid > div:nth-child(12n + 7),
.grid > div:nth-child(12n + 8),
.grid > div:nth-child(12n + 9),
.grid > div:nth-child(12n + 10),
.grid > div:nth-child(12n + 11),
.grid > div:nth-child(12n + 12) {
  background-color: $mantle;
}

.header {
  color: $text;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.15rem;
}

.grid > div:not(.header) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: $overlay2;
}

.iconWrapper {
  padding: 0.5rem 0.5rem;
  height: 100%;
}

.icon {
  aspect-ratio: 1 / 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.55rem;
  border-radius: 20%;
  transition: background-color 0.2s ease;

  svg {
    transition: color 0.2s ease;
  }
}

.play > svg {
  color: greenyellow;
}

.play:not(.disabled):hover {
  background-color: transparentize(greenyellow, 0.75);
}

.play.disabled {
  cursor: default;

  svg {
    color: transparentize(greenyellow, 0.35) !important;
  }
}

.sync > svg {
  color: skyblue;
}

.sync:not(.disabled):hover {
  background-color: transparentize(skyblue, 0.75);
}

.sync.disabled {
  cursor: default;

  svg {
    color: transparentize(skyblue, 0.35) !important;
  }
}

.delete > svg {
  color: lightcoral;
}

.delete:not(.disabled):hover {
  background-color: transparentize(lightcoral, 0.75);
}

.delete.disabled {
  cursor: default;

  svg {
    color: transparentize(lightcoral, 0.35) !important;
  }
}

.header:nth-child(2):after {
  content: "Downloads"
}

.header:nth-child(3):after {
  content: "Length"
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 2fr auto auto auto auto;
  }

  .grid > div:nth-child(6n + 3) {
    display: none;
  }

  .grid > div:nth-child(6n + 6) {
    padding-right: 0.5rem;
  }

  .grid > div {
    padding: 0.5rem 0.5rem;
  }

  .icon {
    font-size: 1.5rem;
  }

  .header {
    display: none;
  }

  .header:nth-child(2):after,
  .header:nth-child(3):after {
    content: ""
  }

  .grid > div:nth-child(6n + 2) {
    padding: 0.5rem 1.5rem;
  }

  .grid > div:not(.header) {
    font-size: 0.95rem;
  }

  .grid > div:nth-child(12n + 7),
  .grid > div:nth-child(12n + 8),
  .grid > div:nth-child(12n + 9),
  .grid > div:nth-child(12n + 10),
  .grid > div:nth-child(12n + 11),
  .grid > div:nth-child(12n + 12) {
    background-color: $base;
  }

  .grid > div:nth-child(12n + 13),
  .grid > div:nth-child(12n + 14),
  .grid > div:nth-child(12n + 15),
  .grid > div:nth-child(12n + 16),
  .grid > div:nth-child(12n + 17),
  .grid > div:nth-child(12n + 18) {
    background-color: $mantle;
  }

  .grid > .iconWrapper {
    padding: 0.5rem 0.1rem; 
  }
}